<h1>Tasks</h1>

<ul class='list-unstyled'>
  <% @tasks.each do |task| %>
    <li>
    <% if task.completed %>
      <i class="fa-sharp fa-solid fa-square-check"></i>
    <% else %>
      <i class="fa-solid fa-vector-square"></i>
    <% end %>
      <%= link_to task.title, task_path(task), class:'text-decoration-none' %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add a new task', tasks_new_path, class:'text-decoration-none' %>
